@page
@model DamienWebApp.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1 style="color:white">@ViewData["Title"]</h1>
<br />
<br />
<div style="width:100%; display: flex; justify-content: center;">
    <img style="border-radius:50%;" width="500" height="400" src="Media/personal.jpg" />
</div>
<br />
<br />
<div style="width:100%; display: flex; justify-content: center;">
    <h6 style="color:white">
        My name is Damien Gutierrez and I am a San Antonio based photographer and videographer.
        I specialize in capturing video and photos for live events, small businesses, individuals, and groups.
        My goal is to satisfy the needs of whoever hires me by providing them with the best form of media they can use for their endeavors.
        I love to put a spotlight on individuals, performers, businesses, and events, letting the subject tell their story.
    </h6>
</div>