@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div style="width:100%; display: flex; justify-content: center;">
    <img id="MainImg" width="300" height="500" src="Media/pic1.jpg" onclick="ChangeImgManual()" />
</div>

<div style="width:100%; display: flex; justify-content: center;">
    <div style="padding:2px">
        <label id="lbl1" style="border-radius:50%;background-color:deepskyblue;padding:4px"></label>
    </div>
    <div style="padding:2px">
        <label id="lbl2" style="border-radius:50%;background-color:gray;padding:4px"></label>
    </div>
    <div style="padding:2px">
        <label id="lbl3" style="border-radius:50%;background-color:gray;padding:4px"></label>
    </div>
    <div style="padding:2px">
        <label id="lbl4" style="border-radius:50%;background-color:gray;padding:4px"></label>
    </div>
</div>
<br />
<div style="width:100%; display: flex; justify-content: center;">
    <a style="border-width:2px; border-style:solid; border-color:white; padding:9px 110px 9px 110px; color:white;" href="https://docs.google.com/forms/d/e/1FAIpQLSeEpc2XKGFocUNayZCXLb0qCmQxtOSx8Jpila06Z4SoO9gj_Q/viewform">BOOK NOW</a>
</div>
<br/>
<br/>
<br/>
<div style="width:100%; display: flex; justify-content: center;">
    <a href="https://www.instagram.com/multimediabydamien/" style="padding:1px 20px 1px 1px">
        <img height="60" width="60" src="~/Instagram_Glyph_Gradient.png"/>        
    </a>
    <a href="mailto:Multimediabydamien@gmail.com" style="padding:1px 1px 1px 20px">
        <img height="60"width="60" src="~/GMail.png"/>
    </a>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>