@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@section Scripts
{
    <script src="~/js/site.js"></script>
}

<div style="width:100%; display: flex; justify-content: center;">
    <img id="MainImg" width="400" height="600" src="Media/pic1.jpg" />
</div>

<div style="width:100%; display: flex; justify-content: center;">
    <div style="padding:2px">
        <label id="lbl1" style="border-radius:50%;background-color:deepskyblue;padding:4px"></label>
    </div>
    <div style="padding:2px">
        <label id="lbl2" style="border-radius:50%;background-color:gray;padding:4px"></label>
    </div>
    <div style="padding:2px">
        <label id="lbl3" style="border-radius:50%;background-color:gray;padding:4px"></label>
    </div>
    <div style="padding:2px">
        <label id="lbl4" style="border-radius:50%;background-color:gray;padding:4px"></label>
    </div>
</div>

<br />
<br />
<div style="width:100%; display: flex; justify-content: center;">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeEpc2XKGFocUNayZCXLb0qCmQxtOSx8Jpila06Z4SoO9gj_Q/viewform">BOOK NOW</a>
</div>